<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/foundation.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <title></title>
  </head>
  <body ng-app="LoginMod">
    <div ng-controller="LoginCtrl" class="large-4 large-centered columns">
	      <div class="login-box">
	        <div class="row">
	          <div class="large-12 columns">
	            <h2 class="text-center">
	              UserAuth
	            </h2>
	            <p>Please log in or create account</p>
	            <form ng-submit="runLogin()">
	                <div class="row">
	                 <div class="large-12 columns">
	                     <input type="email" placeholder="Email Address" name="email" ng-model="email" required >
	                 </div>
	               </div>
	              <div class="row">
	                 <div class="large-12 columns">
	                     <input ng-model="password" ng-maxlength="20" type="password" name="password" placeholder="Password" required />
	                 </div>
	              </div>
	              <div class="row">
	                <div class="large-7 columns">
	                  <input type="submit" class="button expand" value="Login"/>
	                </div>
	                <div class="large-5 columns">
	                 <a class="button expand">Create Account</a>
	                </div>
	              </div>
	            </form>
	          </div>
	        </div>
	      </div>
	    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.1.1.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/angular-toastr.tpls.js"></script>
    <script src="/js/dependencies/foundation.min.js"></script>
    <script src="/js/private/dashboard/dashMod.js"></script>
    <script src="/js/private/dashboard/dashCtrl.js"></script>
    <script src="/js/public/login/loginMod.js"></script>
    <script src="/js/public/login/loginCtrl.js"></script>
    <script src="/js/public/signup/signupMod.js"></script>
    <script src="/js/public/signup/signupCtrl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
